/*
citirequtrac (style.css)
---------------------------
TABLE OF CONTENTS:
1 - Header logos
2 - Google Map
3 - Files List
4 - Data Tables
5 - Button Circle
---------------------------
*/

/*
1 - Header logos
*/
.img-logo {
    height: auto;
    max-width: 75%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width:320px) {
    .img-logo {
        height: auto;
        max-width: 75%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width:480px) {
    .img-logo {
        height: auto;
        max-width: 75%;
    }
}

/* zoom properties for logos */
.zoom {
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; /* Firefox */
    -webkit-transition: 1.5s ease; /* Chrome - Safari */
    -o-transition: 1.5s ease; /* Opera */
}
.zoom:hover {
    transform: scale(2);
    -moz-transform: scale(1.1); /* Firefox */
    -webkit-transform: scale(1.1); /* Chrome - Safari */
    -o-transform: scale(1.1); /* Opera */
    -ms-transform: scale(1.1); /* IE9 */
}

/*
2 - Google Map
*/
#map {
    width: 100%;
    height: 350px;
}

/* Set the marker to the center */
#map:after {
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
}

/*
3 - Files List
*/

.Button--Naked {
    background: 0 0;
    color: inherit;
    border: 0;
    outline: none;
    padding: 0;
}
.list-item-title {
    color: inherit;
    text-decoration: none;
}
.list-item-title:hover {
    color: inherit;
    text-decoration: underline;
}

.list-item-title:visited {
    color: inherit;
    text-decoration: none;
}

.list-item-title:active {
    color: inherit;
    text-decoration: none;
}

.list-material li.file-item {
    padding: 0 0 0 16px;
    -webkit-transition: 0.3s -webkit-transform cubic-bezier(0.17, 0.67, 0.6, 1.3);
    transition: 0.3s transform cubic-bezier(0.17, 0.67, 0.6, 1.3);
    background: #fff;
}
.ajax-action:hover {
    color: #d9534f;
}

.image-item {
    background: #4986E7 !important;
    color: white;
}

.document-item {
    background: #DB4437 !important;
    color: white;
}

/*
4 - Data Tables
*/

.clickable-rows {
    cursor: pointer;
}

.clickable-rows > tbody > tr:active {
    background-color: #EAEAEA;
}

.inputer .input-wrapper:before {
    height: 1px;
    background: #cccccc;
}

.inputer .input-wrapper.disabled:before {
    background: transparent !important;
    border-bottom: 2px dotted #cccccc !important;
}

/*---------------------------*/

.nav-tabs > li a:before, .nav-tabs > li a:hover:before {
        position: absolute;
        content: '';
        border-bottom: 2px solid #cccccc !important;
        left: 1%;
        top: 2px;
        width: 99%;
        height: 97%;
    }

    .nav-tabs > li:hover {
        background: rgba(204, 204, 204, 0.38);
    }

    .vertical--align__middle {
        display: table;
        height: 83px;
    }

    .vertical--align__middle > div{
        display: table-cell !important;
        width: 1000px;
        vertical-align: middle;
    }

    .border--dotted {
        border: 1px dotted #ccc;
    }

    .panel > .panel-heading .nav.nav-tabs {
        margin-top: 0px !important;
    }

    .panel-body {
        padding-bottom: 0px !important;
    }

    form {
        margin: 0 !important;
    }

    .form-buttons {
        padding: 5px 20px !important;
        border-top: 1px !important;
    }

    .modal .modal-content .modal-body {
        padding: 20px 24px !important;
    }

    .file-drop-zone {
        height: auto !important;
    }

    .icon-circle {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        margin: auto !important;
        display: table;
        text-align: center;
    }

    .icon-circle > i {
        display: table-cell;
        vertical-align: middle;
    }

    .inputer label {
        color: rgba(0, 0, 0, 0.8);
    }

    .inputer.floating-label .form-control:focus ~ label, .inputer.floating-label .form-control.valid ~ label {
        font-size: inherit !important;
    }

/*
5 - Button Circle
 */

.btn-circle {
    border-radius: 50%;
    padding: 12px;
}

.bg-dark {
    background: #e3e5e6;
}